//Custom Colors
$barberry:#F4BC31;
$pumpkin: #F9701D;
$candy-apple: #FE0600;
$calgar: #0683D7;
$blue-blue: #223CCF;
$chromaphobic:#292929;
$ash: #545F71;
$footer-color: #FAFAFA;
$input-color: #FFFFFF;
$input-lightest: #8D97B0;

// Light Colors
$barberry-lightest:#FEF9EB;
$pumpkin-lightest: #FFF1E9;
$candy-apple-lightest: #FFE7E6;
$calgar-lightest: #E7F3FB;



// Font size
$fs-12: 0.75rem;
$fs-14: 0.875rem;
$fs-24: 1.5rem;
$fs-32: 2rem;
$fs-48: 3rem;
$fs-52: 3.2rem;
$fs-60: 3.75rem;
$fs-64: 4rem;
$fs-72: 4.5rem;
$fs-80: 5rem;

// Font Family
$font-asap: 'Asap';
$font-barlow: 'Barlow';
