.success_section {
    .container-height{
        height: auto;
    }
    .style-confirmed {
        color: #5BB752;
        font-weight: bold;
        margin-bottom: 0;
    }
    .reference-num {
        color: $calgar;
        font-weight: 500;
        margin-bottom: 5px;
    }
    .status-style {
        color: $pumpkin;
        font-weight: 500;
        margin-bottom: 5px;
    }
    .divider-line {
        height: .8px;
        background-color: #717998;
    }
    .subheading-info {
        color: $calgar;
        font-weight: 500;
    }
    .input-style {
        color: #717998;
        word-wrap: break-word;
        word-break: break-all;
    }
    .caution-style {
        color: #717998;
        font-size: $fs-14;
    }
    .summary-heading {
        font-weight: bold;
        margin-bottom: 0;
        color: $calgar;
    }
    .amount-style {
        font-size: $fs-24;
        color: $calgar;
        font-weight: 600;
    }
    .last-item {
        margin-bottom: 5px;
    }
}